/* Remove bottom margin from title */
.wysPageContent.removeBottom {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.introInfo.removeTop {
    padding-top: 0px;
    /* margin-top: 0px; */
}

/* Adds Margin to Volunteer Section */
.volunteerDonation.volunteer {
    margin-top: 50px;
}

/* ******************************
    HAPPY WHEELS CART PAGE
******************************* */

section.heroSecondary h1 {
    font-size: 4.188em;
}

/* DONATE - STYLING */
.donate {
    text-align: center;

    font-family: 'Futura Bold';
    font-size: 1.6em;

    width: 50%;
    margin: 0px auto 50px auto;
}

.donate a {
    color: #dc1d00;
    text-decoration: underline;
}

/* LIVE MAP - PADDING */
.live_map {
    padding: 25px 0px;
}


figcaption.map_tag {
    background: #ffca07;
    color: #3c3c3b;
    display: inline-block;
    font-family: 'Futura Bold';
    font-size: 1.250em;
    line-height: 1;
    letter-spacing: -0.010em;
    right: -6px;
    padding: 5px 9px;
    position: absolute;
    text-transform: uppercase;
}

/* DONATIONS BAR - HWC MAIN PAGE */
.donationsBar_hwc ul {
    list-style: none;
    background-color: #618ecc;
    text-align: center;
    padding: 0;
    margin: 0;

}

.donationsBar_hwc li {
    display: inline-block;
    width: 33%;
    font-family: 'Futura Bold';
    color: #fff;
    font-size: 0.813em;
    /* line-height: 40px; */
    height: 20px;
}

.donationsBar_hwc h1 span {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid #ffca07;
}

/* ******************************
    HWC - LIVE MAP PAGE
******************************* */


.wysPageContent.headerPadding {
    padding-top: 75px;
}

/* DONATIONS CAR - MAP PAGE */

.donationsBar ul {
    list-style: none;
    background-color: #353534;
    height: 80%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.donationsBar li {
    display: inline-block;
    width: 80%;
    font-family: 'Futura Bold';
    color: #fff;
    font-size: 0.813em;
    line-height: 20px;
    text-align: center;
    padding: 0px;
    margin: 0px;

}

.donationsBar h1 {
    font-size: 1.5em;
}

.donationsBar h1 span {
    border-bottom: 2px solid #ffca07;
}


/* ******************************
    GOOGLE MAPS CSS
******************************* */



/* Creates SideBar with Metrics */


/* Set the size of the div element that contains the map */


/* ******************************
     MAP GRID WRAPPER
******************************* */


#map-grid-wrapper {
    display: grid;
    grid-template-columns: 1.1fr 1.5fr 1.5fr 1.5fr;
    grid-template-rows: 70px 1015px;
    background-color: #353534;

}

#ranking-title {
    /* background-color: red; */
    line-height: 30px;
    text-align: center;
    margin: auto 0px;

}

#total-amount-donated {
    /* background-color: green; */
    text-align: center;
    margin: auto;
}

#top-district {
    /* background-color: yellow; */
    text-align: center;
    margin: auto 0px;
}

#total-donations {
    /* background-color: pink; */
    text-align: center;
    margin: auto 0px;
}


#sidebar-col {
    /* background-color: blue; */
}

#sidebar-col-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    grid-template-rows: 36.33px 30.33px;
    grid-auto-rows: minmax(36.33px, auto);
    font-family: 'Futura Bold';
    color: #fff;
    font-size: 0.813em;
    background-color: #353534;
    margin: 0;
    padding: 0;

}

#sidebar-col-grid p {
    margin: 0;
    padding: 0;
    line-height: 1em;
}

#sidebar-col-grid .rank {
    /* background-color: orange; */
    grid-column: 1;
    grid-row: 1 / span 2;
    text-align: center;
    margin: auto 0px;
    /* height: 100%; */
}

#sidebar-col-grid .ward-name {
    /* background-color: aquamarine; */
    margin: auto 0px;
    text-align: center;
}

#sidebar-col-grid .ward-number {
    /* background-color: mediumorchid; */
    text-align: center;
    font-family: 'Futura';
    font-size: 0.9em;
}

#sidebar-col-grid .amount {
    /* background-color: burlywood; */
    grid-column: 3;
    grid-row: 1 / span 2;
    text-align: center;
    margin: auto 0px;
}

#map {
    /* background-color: blueviolet; */
    grid-column: 2 / 5;
    text-align: center;
}



/* ******************************
     DONATE PAGE
******************************* */

#amountButtons {
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;
}

#amountButtons li {
    float: left;
    margin: 0 5px 0 0;
    width: 100px;
    height: 40px;
    position: relative;
}

#amountButtons label,
#amountButtons input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#amountButtons input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
}

#amountButtons input[type="radio"]:checked+label,
.Checked+label {
    background: yellow;
}

#amountButtons label {
    padding: 5px;
    border: 1px solid #CCC;
    cursor: pointer;
    z-index: 90;
}

#amountButtons label:hover {
    background: #DDD;
}